html {
  font-size: 125%;
}

body {
  font-family: $body;
}

header {
  color: $greyDark;
}

h1 {
  font-size: 3.6rem;
  color: black;
}

h1 span {
  font-style: 2rem;
  color: darken($greyLight, 10);
}

h2 {
  font-size: 2.5rem;
  color: darken($greyLight, 20);
}

h3, h4, h5 {
  font-family: $subTitle;
}

.home {
  font-size: 1.6rem;
}

nav li {
  text-transform: uppercase;
}

i {
  font-size: 1.7rem;
}