html {
  font-size: 125%;
}

body {
  font-family: $body;
}

header {
  color: $greyDark;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3.6rem;
  color: black;
}

h1 span {
  font-size: 2.3rem;
  color: $greyBlue;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  color: $greyBlue;
}

h3, h4, h5 {
  font-family: $subTitle;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.1rem;
}

.project a {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.35;
}

.home {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
}

nav li {
  text-transform: uppercase;
}

i {
  font-size: 1.7rem;
}

.copyright {
  font-size: 0.8rem;
  color: $greyLight;
}

.tools {
  font-size: 0.8rem;
}