html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  color: #464646;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  color: black;
}

h1 span {
  font-size: 2.3rem;
  color: #6699CC;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  color: #6699CC;
}

h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.1rem;
}

.project a {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.35;
}

.home {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}

nav li {
  text-transform: uppercase;
}

i {
  font-size: 1.7rem;
}

.copyright {
  font-size: 0.8rem;
  color: #b8c6db;
}

.tools {
  font-size: 0.8rem;
}

/* ====================================
        PROJECT SECTION
================================= */
.projects {
  margin-top: 40px;
}

.instruction {
  padding: 10px 0 30px;
}

h4 {
  padding-top: 20px;
  text-align: center;
}

h5 {
  padding: 5px;
}

.tools {
  text-align: center;
}

.description {
  padding: 12px 8px 25px;
}

.projectContainer {
  position: relative;
  display: grid;
  grid-template-columns: calc(25% - 20px) calc(50% - 20px) calc(25% - 20px);
  grid-template-rows: 40px 40px 120px 120px 40px;
  gap: 30px;
  grid-template-areas: "  .     info      .  " "proj1   info    proj2" "proj1   info    proj2" "proj3   info    proj4" "proj3     .     proj4";
}

.projectInfo {
  grid-area: info;
  position: relative;
  overflow-y: hidden;
  border: 10px solid #232323;
  border-bottom: 26px solid #232323;
  border-radius: 25px;
  background-color: #232323;
  -webkit-box-shadow: 7px 4px 10px grey;
          box-shadow: 7px 4px 10px grey;
}

.project {
  border: 2px solid black;
  background: #b8c6db;
  cursor: pointer;
  text-align: center;
}
.project .imgBox {
  width: 100px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.proj1 {
  grid-area: proj1;
  border-radius: 0 20% 20% 20%;
}
.proj1 h5 {
  padding: 5px 2px 5px;
}

.proj2 {
  grid-area: proj2;
  border-radius: 20% 0 20% 20%;
}

.proj3 {
  grid-area: proj3;
  border-radius: 20% 20% 20% 0;
}

.proj4 {
  grid-area: proj4;
  border-radius: 20% 20% 0 20%;
}

.hidden {
  display: none;
}

.wdynInfo,
.madLibsInfo,
.plantedInfo,
.rhymeTimeInfo {
  display: block;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  -webkit-animation: 0.5s ease 0s normal forwards 1 fadeIn;
          animation: 0.5s ease 0s normal forwards 1 fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
@keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}
.links a {
  background: #6699CC;
  border: 1px solid black;
  margin: 0 10% 0;
}
.links a:hover {
  background-color: #464646;
  color: white;
}

/* ====================================
        GENERAL STYLES
================================= */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

main {
  margin: 40px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
}

.wrapper {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.active {
  background: #b8c6db;
  color: white;
}

.darkMode {
  background: black;
  color: white;
}

/* ====================================
        HEADER
================================= */
header {
  height: 70vh;
  position: relative;
}

h1 {
  text-align: center;
  margin: 0 0 30px;
}

h1 span {
  display: block;
  padding-bottom: 15px;
}

h2 {
  text-align: center;
}

h1, h2 {
  margin-right: 30%;
}

.headshotBox {
  width: 30vw;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -20%;
}
.headshotBox img {
  border: 10px solid #6699CC;
  border-radius: 50%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colorBox {
  height: 40vh;
  width: 100%;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  z-index: -10;
  position: absolute;
  top: 53%;
  left: 0;
}

/* ====================================
        NAVIGATION
================================= */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  padding: 8px 15px 0;
}
nav ul li a {
  position: relative;
  padding: 8px;
}

.home {
  padding: 3px 0 30px;
}
.home a {
  position: relative;
  padding: 8px;
}

.desktopMenu a::before,
.home a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b8c6db;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

a:hover::before,
a:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ====================================
        FOOTER
================================= */
footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #f5f7fa 0%, #b8c6db 74%);
  padding-top: 20px;
  border-top: 2px solid #6699CC;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer ul li {
  padding: 15px;
}
footer ul li:hover i, footer ul li:focus-within i {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.copyright {
  padding: 10px 0 4px;
  background: #464646;
}