html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  color: #464646;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  color: black;
}

h1 span {
  font-size: 2.3rem;
  color: #6699CC;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  color: #6699CC;
}

h3, h4, h5 {
  font-family: "Nunito", sans-serif;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.1rem;
}

.project a {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.35;
}

.home {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
}

nav li {
  text-transform: uppercase;
}

i {
  font-size: 1.7rem;
}

.copyright {
  font-size: 0.8rem;
  color: cornflowerblue;
}

.tools {
  font-size: 0.8rem;
}

@media (max-height: 1600px) {
  div.headshotBox {
    margin-top: -14%;
  }
}
@media (max-width: 930px) {
  button.mobileOnly,
.mobileMenu {
    display: block;
  }

  .desktopMenu {
    display: none;
  }

  .desktopOnly {
    display: none;
  }

  label.darkSwitch {
    padding-left: 10px;
    line-height: 1rem;
  }
  label.darkSwitch::before {
    height: 1.8rem;
    width: 4.5rem;
    top: -5px;
  }
  label.darkSwitch::after {
    top: -2px;
    right: 55px;
  }
}
@media (max-width: 845px) {
  div.screen2 {
    display: block;
  }

  div.projectContainer {
    grid-template-columns: calc(45% - 15px) calc(55% - 15px);
    grid-template-rows: 40px 100px 40px 100px 30px 40px 100px 100px 40px;
    grid-template-areas: "proj1  info1" "proj1  info1" "proj2  info1" "proj2  info1" "  .      .  " "proj3  info2" "proj3  info2" "proj4  info2" "proj4  info2 ";
  }
}
@media (max-width: 760px) {
  p.description {
    font-size: 0.9rem;
  }

  div.projectContainer {
    grid-template-columns: calc(45% - 15px) calc(55% - 15px);
    grid-template-rows: 50px 120px 50px 120px 30px 50px 120px 120px 50px;
  }
}
@media (max-width: 615px) {
  div.wrapper {
    width: 95%;
  }

  header h1 {
    font-size: 2.6rem;
    margin-right: 10%;
  }
  header h1 span {
    display: inline-block;
    padding-right: 10px;
  }

  header h2 {
    font-size: 2rem;
    margin-right: 10%;
  }

  .projectInfo h4 {
    font-size: 1rem;
  }

  .description {
    font-size: 0.8rem;
  }

  div.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.title .headshotBox {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 25px;
  }
}
@media (max-width: 430px) {
  header h1 {
    margin-right: 0;
  }

  div.links a {
    font-size: 0.8rem;
    margin: 0 8% 0;
  }

  p.tools {
    font-size: 0.7rem;
  }

  .projectInfo .imgBox {
    display: none;
  }
}
@media (min-height: 670px) {
  div.colorBox {
    top: 38%;
  }
}
/* ====================================
        ABOUT SECTION
================================= */
.about p {
  padding-bottom: 10px;
  line-height: 1.2;
}

.welcomeBox {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  width: 100%;
}

.welcomeInfo {
  width: 85%;
}

/* ====================================
        PROJECT SECTION
================================= */
.projects {
  overflow-x: hidden;
}

.instruction {
  padding-bottom: 30px;
}

h4 {
  padding-top: 20px;
  text-align: center;
}

h5 {
  padding: 5px;
}

.tools {
  text-align: center;
}

.description {
  padding: 12px 8px 25px;
}

.projectContainer {
  position: relative;
  display: grid;
  grid-template-columns: calc(25% - 20px) calc(50% - 20px) calc(25% - 20px);
  grid-template-rows: 40px 40px 120px 120px 40px;
  gap: 30px;
  grid-template-areas: "  .     info1     .  " "proj1   info1   proj2" "proj1   info1   proj2" "proj3   info1   proj4" "proj3     .     proj4";
}

.projectInfo {
  position: relative;
  overflow-y: hidden;
  border: 10px solid #232323;
  border-bottom: 26px solid #232323;
  border-radius: 25px;
  background-color: #232323;
  -webkit-box-shadow: 7px 4px 10px grey;
          box-shadow: 7px 4px 10px grey;
}

.screen1 {
  grid-area: info1;
}

.screen2 {
  grid-area: info2;
  display: none;
}

.project {
  border: 2px solid black;
  background: #b8c6db;
  cursor: pointer;
  text-align: center;
}
.project .imgBox {
  width: 100px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.proj1 {
  grid-area: proj1;
  border-radius: 0 20% 20% 20%;
}
.proj1 h5 {
  padding: 5px 2px 5px;
}

.proj2 {
  grid-area: proj2;
  border-radius: 20% 0 20% 20%;
}

.proj3 {
  grid-area: proj3;
  border-radius: 20% 20% 20% 0;
}

.proj4 {
  grid-area: proj4;
  border-radius: 20% 20% 0 20%;
}

.hidden {
  display: none;
}

.wdynInfo,
.madLibsInfo,
.plantedInfo,
.rhymeTimeInfo {
  display: block;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  -webkit-animation: 0.5s ease 0s normal forwards 1 fadeIn;
          animation: 0.5s ease 0s normal forwards 1 fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
@keyframes ripple {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}
.links a {
  background: #6699CC;
  border: 1px solid black;
  margin: 0 10% 0;
}
.links a:hover {
  background-color: #464646;
  color: white;
}

/* ====================================
        GENERAL STYLES
================================= */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

main {
  margin: 40px 0;
}

h3 {
  padding: 30px 0 15px;
  position: relative;
  margin-right: 40%;
}

h3::before {
  content: "";
  height: 2.2rem;
  width: 100%;
  background-color: cornflowerblue;
  background-image: linear-gradient(315deg, cornflowerblue 0%, #a4bfef 55%, #f5f7fa 96%);
  z-index: -10;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
}

.wrapper {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.home a {
  background: cornflowerblue;
  color: white;
}

/* ====================================
        HEADER
================================= */
header {
  height: 70vh;
  position: relative;
}

h1 {
  text-align: center;
  margin: 0 0 30px;
}

h1 span {
  display: block;
  padding-bottom: 15px;
}

h2 {
  text-align: center;
}

h1,
h2 {
  margin-right: 30%;
}

.headshotBox {
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: -20% 30px 0 0;
}
.headshotBox img {
  border: 10px solid cornflowerblue;
  border-radius: 50%;
}

.title {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colorBox {
  height: 40vh;
  width: 100%;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  z-index: -10;
  position: absolute;
  top: 53%;
  left: 0;
}

/* ====================================
        NAVIGATION
================================= */
.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  background: whitesmoke;
  -webkit-box-shadow: 0 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 0 0 25px 25px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  padding: 8px 15px 0;
}
nav ul li a {
  position: relative;
  padding: 8px;
}

.hideNav {
  -webkit-transform: translateY(-15rem);
          transform: translateY(-15rem);
}

.home {
  padding: 3px 0 30px;
}
.home a {
  position: relative;
  padding: 8px;
  border-radius: 0 0 20px 0;
}

nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: cornflowerblue;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

a:hover::before,
a:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.darkInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
}

.mobileOnly {
  display: none;
}

.hamburger {
  background: none;
  border: none;
  position: absolute;
  right: 0;
}

.expandedMenu {
  display: block;
  position: relative;
}
.expandedMenu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: whitesmoke;
  -webkit-box-shadow: 0 0.75rem 0.5rem -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.75rem 0.5rem -10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 25px 25px;
  padding: 60px 40px 20px 10px;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: 10;
}

.fa-bars,
.fa-times {
  color: black;
  font-size: 1.6rem;
  z-index: 20;
  position: absolute;
  top: -60px;
  right: 30px;
}

i.fa-times {
  display: none;
}

/* ====================================
        FOOTER
================================= */
footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #f5f7fa 0%, #b8c6db 74%);
  padding-top: 20px;
  border-top: 2px solid #6699CC;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer ul li {
  padding: 15px;
}
footer ul li:hover i, footer ul li:focus-within i {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: cornflowerblue;
}

.copyright {
  padding: 10px 0 4px;
  background: #464646;
}

/* ====================================
        DARK MODE STYLES
================================= */
.darkMode {
  background: black;
  color: white;
}

input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

.darkSwitch {
  position: relative;
  line-height: 3rem;
  padding-right: 5.5rem;
}

.darkSwitch::before {
  position: absolute;
  content: "";
  top: 8px;
  right: 0;
  height: 2rem;
  width: 5rem;
  background: #b8c6db;
  border: 1px solid black;
  border-radius: 80px;
}

.darkSwitch::after {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-color: cornflowerblue;
  top: 12px;
  right: 66px;
  border-radius: 50%;
}

input[type=checkbox]:checked + .darkSwitch::before {
  background: black;
}

input[type=checkbox]:checked + .darkSwitch::after {
  right: 0.25rem;
}